@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.side-menu-link {
  color: #ffe6a7;
  text-decoration: none;
}

.side-menu-link:hover {
  color: #ffe6a7;
  text-decoration: underline;
}

.ant-rate.custom-stars {
  font-size: 14px;
  color: #99582a
}

/* Hide number input spinners for Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}